<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>

<main>
  <h1>Edit owner</h1>
  <form id="create-post-form" action="/owners/edit/<%= currentOwner._id %> " method="POST">
    <div class="form-group">
      <label for="name">Your name</label>
      <input
        required
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Enter name"
        value="<%= currentOwner.name %> "
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        required
        type="text"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
        value="<%= currentOwner.email %> "
      />
    </div>
    <button type="submit" class="btn btn-primary">Save Owner</button>
  </form>
</main>

<%- include('../partials/footer.ejs') %>
